body {
    font-family: quasimoda, sans-serif;

}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-family: anziano, sans-serif;
}

.main-nav .brand {
    font-family: anziano, serif;
    text-transform: none;
    letter-spacing: 0;
    font-size: 1.5em;
    font-style: italic;
    padding: 0.5em;
}

.navbar .navbar-brand {
    font-family: anziano, serif;
    text-transform: none;
    letter-spacing: 0;
    font-size: 1.5em;
    font-style: italic;
    padding: 0.5em;
}



/* ---- Nav Style ----*/

.main-nav {
    background: #343434;
    position: fixed;
    width: 100%;
    top: 0;
}

.main-nav ul {
    margin: 0;
    padding: 0;
    float: right;
}

.main-nav li {
    display: inline-block;
    list-style: none;
}

.main-nav a {
    color: white;
    text-decoration: none;
    font-weight: 200;
    padding: 1em;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.nav-item .nav-link {
      color: white;
    text-decoration: none;
    font-weight: 200;
    padding: 1em;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.main-nav .active {
    color: aquamarine;
}

.navbar .nav-link .active {
    color: aquamarine;
}

.navbar-dark .navbar-nav .nav-link.active {
   color: aquamarine;
}

/*--- end nav style ----*/


/* ---- Big Hero Quote ---*/

.hero-quote {
  background: black;
  padding: 2em;
  color: #fff9ee;
  font-family: anziano, sans-serif;
  font-style: italic;
  text-align: center;
  background-image: url(../img/robert-lukeman-watterfall.jpg);
  background-size:cover;
  background-attachment: fixed;

}

.hero-quote h2 {
  font-size: 2.5em;
}

@media screen and (min-width: 680px) {

  .hero-quote h2 {
    font-size: 4em;
    padding: 1em;
    font-weight: 100;
  }
}

.mid-page {
  padding: 2em;
}



/*--- footer style ----*/
footer {
    padding: 4em;
    background: #cccccc;
    background-image: url(../img/oriental-tiles.png)
}

footer p {
    text-align: center;
    color: #d1d1d1;
    font-family: quasimoda, sans-serif;
}


/* ///; media querie */

@media screen and (max-width: 480px) {
  .col-50 {
    width: 50%;
    float: left;
  }

}
